body {
    background: url("../images/background-guard.jpg") center fixed;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 8px;
}

input {
    display: block;
}

.blur_bg {
    background: url("../images/background-guard.jpg") center fixed;
    background-size: cover;
}