#main_container {
    margin-top: 24px;
}

#login_window {
    position: relative;
    margin: auto;
    padding: 48px 0;
    text-align: left;
    vertical-align: top;

    background: linear-gradient(45deg, rgba(37, 70, 107, 0.3), rgba(0, 123, 202, 0.3));

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    z-index: 5;
}

#login_form input {
    display: block;
}

#login_form .input_text {
    height: 36px;
    margin: 28px auto;
    padding-left: 8px;

    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    font-family: gravity-book, sans-serif;

    color: white;
    font-size: 16px;
}

#login_form .input_text:hover {
    border-bottom: 1px solid rgba(118, 196, 255, 0.7);
}

#login_form .input_text:focus {
    border-bottom: 1px solid rgba(83, 151, 255, 0.7);
}

.box_window_header {
    display: block;
    font-size: 36px;
    text-align: left;

    margin-bottom: 32px;

    font-family: gravity, sans-serif;
}

#login_form .input_submit {
    height: 48px;
    margin: 48px auto 0 auto;
    background: #fdda7a;

    color: black;
    font-size: 18px;
    font-family: gravity, sans-serif;
    font-weight: bold;

    border: none;
    border-top: 1px solid rgba(255, 255, 255, 1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#login_form .input_submit:hover {
    background: #d2a61f;
    color: #1d294c;
}

.description_text {
    display: inline-block;
    margin-top: 16px;
    font-size: 12px;
}